.user{
	padding:5px;	
	width:30%;
	background-color: #22A7F0;
	display :block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color:white;
	font-family: Canter, Helvetica, Arial, sans-serif;

}

.UserBody{
	height:100%;
	width:100%;
	background-color: #95A5A6;
	padding:71px;
}
.userInfo{
	padding-top:5px;	
	width:30%;
	background-color: #4183D7;
	display :block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color:white;
	font-family: Canter, Helvetica, Arial, sans-serif;

}
.userInfo h2{
	margin-top: 0px;
}
.ChangePassword{
	width:100%;
	background-color: #2C3E50;
	padding-top:5px;
	padding-bottom:5px;	
	border-style: none;
	font-family: Canter, Helvetica, Arial, sans-serif;
	font-size:2em;
}