<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Dropwizard_Oauth2_Form</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li id="li_home"><a href="#/">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			    <li ng-hide="loginUser" class="dropdown">
					<a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<form novalidate role="form" id="LoginUserNav" name="LoginUserNav" class="LoginUserNav">
							<div class="form-field">
								<input ng-model="userlogin.email" type="email" class="form-input" id="email" name="email" placeholder="Email" required>
								<div class="ImageForm">
									<img src="img/email.png" >
								</div>
							</div>
							<div class="help-block" ng-show="LoginUserNav.$submitted || LoginUserNav.email.$touched">
    							<span ng-show="LoginUserNav.email.$error.required">Tell us your email.</span>
    							<span ng-show="LoginUserNav.email.$error.email">Please enter a valid email.</span>
							</div>
							<div class="form-field">	
								<input ng-model="userlogin.pass" type="password" class="form-input" id="pass_nav" name="pass_nav" placeholder="Password" required>
								<div class="ImageForm">
									<img src="img/password.png" >
								</div>
							</div>
							<div class="help-block" ng-show="LoginUserNav.$submitted || LoginUserNav.email.$touched">
    							<span ng-show="LoginUserNav.pass_nav.$error.required">Tell us your password.</span>
							</div>
							<li class="divider"></li>
							<li>
								<button type="submit" ng-click="login(userlogin)" class="submit-form-nav">Submit</button>
							</li>
						</form>
					</ul>
				</li>
				<li ng-show="loginUser" id="li_logout"><a ng-click="logOut()" href="#/">LogOut</a></li>
			</ul>	
		</div><!--/.nav-collapse -->
	</div>
</nav>
